/* start variiable  */
:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --Font-size-paragraph: 18px;
    }

/* end variable  */
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
   }
  body {
   margin: 0;
   padding: 0;
    font-family: "Work Sans", sans-serif;
    position: relative;
    background-color: var(--Almost-White);
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /* start header design  */
  header{
padding: 10px;
position: relative;
  }
  header .container{
    display: flex;justify-content: space-between;
    align-items: center;

  }
  header .container .sections{
    width:100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* position: initial; */
    height: auto;
}
header .container .sections .links ul{
  display: flex;
  list-style: none;
}
header .container .sections .links ul li{
    margin-left: 20px;
    color: var(--Medium-Gray);

  }
  header .container .sections .links ul li:hover{
    color: var(--Almost-Black);
  }
  header .container .sections .links ul li .features-drop
  , header .container .sections .links ul li .company-drop{
    display: flex;
    align-items: center;
  }
  header .container .sections .links ul li .features-drop p
  , header .container .sections .links ul li .company-drop p{
    margin-right: 5px;
  }
  /* strt styling  dropdown list  */
  header .container .sections .links ul li .features-dropdown,
  header .container .sections .links ul li .company-dropdown{
background-color: var(--Almost-White);
margin: 0;
padding: 0;
padding: 5px;
position: absolute;
display: none;
  }
  header .container .sections .links ul li .features-dropdown{
    left: 171px;
  }
  header .container .sections .links ul li .features-dropdown ul,
    header .container .sections .links ul li .company-dropdown ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  header .container .sections .links ul li .features-dropdown ul li{
    display: flex;
    align-items: center;
  }
  header .container .sections .links ul li .company-dropdown ul li{
    padding: 3px;
  }
  header .container .sections .links ul li .features-dropdown ul li img{
    margin-right: 4px;
  }
  .open{

    z-index: 2;
 
  }
  /* start responsive navbar  */
  @media (min-width:680px) {
    .open{
      display: none;
      z-index: 2;
      /* position: relative; */
    }
  }
  .active {
    display: flex !important;
    flex-direction: column;
    position: absolute ;
    top:0;
    right: 0; 
    width: 50% !important; 
    height: 100vh !important; 
    background-color: var(--Almost-White);
    padding: 10px;
    box-shadow: -319px 0px 15px 0px rgba(0, 0, 0, 0.6);


}
  .active ul{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .active ul .features-dropdown,
  .active ul .company-dropdown{
    background-color: transparent !important;
    position: initial !important;
    color: var(--Medium-Gray);

  }
  .active .buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media (max-width:680px) {
    header .container .sections {
      display: none;
    }
  }
  /*  start styling the buttons  */
  .buttons button{
padding: 14px;
border-radius: 5px;
background-color: transparent;
outline: none;

  }
  .buttons button a{
    text-decoration: none;
    color: var(--Medium-Gray);
  }
  .login{
    border: none;
  }
  .regester{
    border: 1px solid var(--Medium-Gray);
  }
  /* end header design  */

  /* start landing design  */
  .landing{
padding-bottom: 20px;
  }
  .landing .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .landing .container .img-landing img{
    width: 500px;

    max-width: 100%;
  }
  .description .title{
    font-size: 70px;
    font-weight: 700;
  }
.description .text{
    font-size: var(--Font-size-paragraph);
    color: var(--Medium-Gray);
    font-weight: 500;
    width: 450px;
    margin:  40px 0;
}
.description button{
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    padding: 10px;
    border-radius: 12px;
    outline: 0;
    margin-bottom: 20px;
font-weight: 500;
}
.img-client{
   display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.img-client img{
    margin-left: 15px;
    margin-bottom: 10px;
}
@media (max-width:630px) {
    .img-client{
        order: 1;
    }
    .description{
        order: 2;
        text-align: center;
    }
    .description .title{
        font-size: 50px;
    }
    .description .text{
        line-height: 1.2;
    }
    br{
      display:none;
    }
}
  /* end landing design  */